@import "../../sass/variables";

.newsContainer {
    
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 30%;
    height: auto;
    margin-bottom: 10%;

    button{
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

    form {
        background-color: $col_navbar;
        border-radius: 10px;

        label {
            background-color: $col_navbar;
            border-radius: 10px;
        }
    }
}

@media (max-width: 768px) {
    .newsContainer {
        margin-top: 50px;
        position: relative;
        padding: 0 10px;
        width: 100%;
    }
}
